
#one{
	color:violet;
}
#two{
	color:indigo;
}

#one{
	color:violet;
}
#two{
	color:indigo;
}

#one{
	color:violet;
}
#two{
	color:indigo;
}

#one{
	color:violet;
}
#two{
	di
	border:1px solid orange;
	width:200px;
	text-align: ;
}