.parent{
   display:flex;
   gap:3px;
   flex-direction: column;
    justify-content: center;
    align-items: end;
   background-color: yellow;
   height:300px;

}
.child{
   border: 2px  solid black;
    text-align: center;
    color:green;
    height:30px;
    width: fit-content;
}