
i{
    font-size: 30px;
    color:rgb(0, 30, 255);
}
p{
    border: 3px solid black;
}
.flexcontainer{
    display: flex;
    gap:10px;
}
.search {
    border-radius: 20px;
}
input::placeholder{
    color:red;
    
}
input{
    padding:5px;
}