header{
    height:500px;
}
section{
    position:sticky;
   top:0px;
   z-index: 2;

}
h1{
    margin:0px;
    height:50px;
    position:sticky;
    top:200px;
    z-index: 2;
}

.divs{
    border:5px, solid, blue;
    border-radius:20px;
    position:relative;
    height:1000px;
    z-index: 1;
}
.box0{

}
.box1{

}
.box2{
    position:absolute;
    bottom:0;
    right:0
}
