body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.flexcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
}

.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 100, 255,0.4);
    color: white;
    font-weight: bold;
    border-radius: 10px;
    transition: transform 0.5s ;
    cursor: pointer;
    perspective: 1000px;
    box-shadow: 3px 3px 3px 5px black;
}

.container *:hover{
     background-color: rgba(255, 100, 0,1);
}

/* Scale transformation */
.box.scale:hover {
    transform: scale(1.5);

}

/* Rotate transformations */
.box.rotate:hover {
    transform: rotate(45deg);
}
.box.rotate-x:hover {
    transform: rotateX(45deg);
}
.box.rotate-y:hover {
    transform: rotateY(45deg);
}
.box.rotate-z:hover {
    transform: rotateZ(45deg);
}

/* Translate transformations */
.box.translate:hover {
    transform: translate(50px, 50px);
}
.box.translate-x:hover {
    transform: translateX(50px);
}
.box.translate-y:hover {
    transform: translateY(50px);
}

/* Skew transformations */
.box.skew:hover {
    transform: skew(20deg, 20deg);
}
.box.skew-x:hover {
    transform: skewX(20deg);
}
.box.skew-y:hover {
    transform: skewY(20deg);
}

/* Perspective transformation */
.box.perspective {
   
}
.box.perspective:hover {
    transform: rotateY(60deg);
    transform: scale(0.5);
}
