
.one{
    font-size:10px;
}
.two{
    font-size: 10%;
}
.three{
    font-size: 10ch;
}
.four{
    font-size: 10rem;
}
.five{
    font-size: 10em;
}
.six{
    font-size: 10vh;
}
.seven{
    font-size: 10vw;
}
h1 *{
    display:inline;
}





/*
w3school css units
viewport width/height - vw/vh
root element relative - rem
element relative - em

inch - in
centimeter - cm
millimeter - mm
pixels - px
character - ch
%
*/

